<header class="bg-amber-100 text-violet-400 shadow-md">
    
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-x1 font-bold traking-tig">Aura App</h1>
        <ul class="flex space-x-6 text-sm font-medium">
            <li class="hover:text-violet-600 transition"><a href="#">Início</a></li>
            <li class="hover:text-violet-600 transition"><a href="#">Farmador</a></li>
            <li class="hover:text-violet-600 transition"><a href="#">Mogador</a></li>
        </ul>
    </nav>
</header>
